* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    
}

.sidebar {
    width: 250px;
    background: #222;
    color: white;
    padding: 20px;
}
.sidebar ul {
    list-style: none;
    margin-top: 10px;
}
.sidebar li {
    padding: 10px;
    background: #444;
    margin-bottom: 10px;
    border-radius: 6px;
    transition: background 0.7s;
    cursor: pointer;
}
.sidebar li:hover {
    background: #666;
}

.main-content {
    flex: 1;
    background: #f0f0f0;
    padding: 20px;
    overflow-y: auto;
}
.opening {
    font-weight: bold;
    font-size: 25px;
}
.dummy p {
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 17px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    display: none;
  }
}