* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f4f4f4;
    color: #333;
}

.navbar {
    background:  #854d08;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 200px;
    background: #3d2406;
    color: #fff;
    padding: 20px;
    font-size: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 15px;
    cursor: pointer;
    transition:transform 0.7s ease;
    padding-left: 3px;
    
}
.sidebar li:hover {
    background-color:#8b5614 ;
    border-radius: 5px;
    border: 1px solid #ed8f1d;
    transform: translateX(8px)
}
.main-content {
    flex: 1;
    padding: 30px;
}
.toggle-btn {
  display: none;
  font-size: 24px;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.stats-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.stats-cards .card {
  flex: 1 1 200px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.card.blue {
  background-color: #1e3a8a;
}

.card.green {
  background-color: #059669;
}

.card.purple {
  background-color: #6d28d9;
}

.card.orange {
  background-color: #ea580c;
}
hr {
    margin-top: 30px;
    height: 5px;
    background-color: #000000;
}
.dashboard-info {
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    line-height: 1,5;

}

.table-section {
  margin-top: 25px;
}

.table-section h3 {
  margin-bottom: 15px;
  font-size: 30px;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #e1aa51;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #3d2406;
  color: #fff;
  font-size: 20px;
}

td {
  font-size: 20px;
}

@media (max-width: 768px) {
  table {
    min-width: 600px;
  }
}

@media (max-width: 768px) {
  .stats-cards {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }

  .sidebar.show {
    display: block;
  }

  .toggle-btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
  }
}
